<%- include('header', {title: `UFO Sighting`}); -%>

  <h1 style="text-align: center">UFO Sighting</h1>
  <div class="container">
    <form action="/sighting" method="POST">
      <div class="col-md-12 mb-3 submit-label">
        <label for="text" class="form-label">Text</label>
        <textarea disabled class="form-control" name="text" rows="3"><%= text %></textarea>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="date-time" class="form-label">Date & Time</label>
        <input disabled type="text" class="form-control" name="date_time" value=<%=date_time %>>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="city" class="form-label">City</label>
        <input disabled type="text" class="form-control" name="city" value=<%=city %>>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="state" class="form-label">State</label>
        <input disabled type="text" class="form-control" name="state" value=<%=state %>>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="shape" class="form-label">Shape</label>
        <input disabled type="text" class="form-control" name="shape" value=<%=shape %>>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="duration" class="form-label">Duration</label>
        <input disabled type="text" class="form-control" name="duration" value=<%=duration %>>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="summary" class="form-label">Summary</label>
        <textarea disabled class="form-control" name="summary" rows="3"><%= summary %></textarea>
      </div>
      <div class="col-md-12 mb-3 submit-label">
        <label for="time-submitted" class="form-label">Time Submitted</label>
        <textarea disabled class="form-control" name="time_submitted" rows="3"><%= time_submitted %></textarea>
      </div>
      <br>
      <br>

      <%- include('footer'); -%>